.nav-link {
    display: inline-block;
    box-sizing: border-box;
    width: 70px;
    padding: 10px; 
    margin: 0 6px 6px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b); 
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px);
    color: white;
    border-radius: 20px; 
    border: 2px solid #ff7e5f; 
    transition: all 0.3s ease; 
}

.nav-link:hover {
    background: linear-gradient(135deg, #feb47b, #ff7e5f); 
    color: black; 
}

.active {
    background: linear-gradient(135deg, #ff7e5f, #feb47b); 
    color: black;
}